services:
  cas:
    build: .
    ports:
     - "8443:8443"
     - "8080:8080"
  mongo:
    image: mongo:latest
    container_name: cas-mongo
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin
    volumes:
      - ./mongo_data:/data/db